.casasPage{
 background-color: black;
 height: 100vh;
}

.simplebar-scrollbar::before {
    background-color: white;
   }

.imgEsc{
    width: 300px;
    height: 350px;
}

.casasImg{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 300px;

}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px;
    padding: 20px;
}


.nameHouse {
    color: white;
}