.general {
    background-image: url("../../../public/trono-de-hierro.png");
    height: 100vh;

}

.text {
    font-family:GoT;
    color:white;
    font-weight: 100;
    font-size: 176px;
    position: absolute;
    top: 200px;
    left: 450px;
}