.finder {
    position: fixed;
    top: 3%;
    left: 5%;
    margin-left: 100px;
    width: 475px;
    height: 25px;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    background-color: black;
    font-family: Got;
    color: white;
}
.lupa{
    width: 20px;
    height: 20px;
    margin-left: 150px;
    padding-top: 30px;
}
.divfilter{
    display: flex;
    flex-wrap: wrap;
}